<html>
    <head>
        <title>hello</title>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="row">
            <div class="col-md-3">
                <h2>Amazing4</h2>
                <h2><a class="btn btn-info" href="/index.html" role="button">真主页</a></h2>
            </div>
                <div class="col-md-6">
                    <div class="row">
                        <h1>请输入一个句子</h1>
                    </div>
                    <div class="row">
                    <form action="/" method="post">
                        <textarea class="form-control" rows="8" name="speech" >{{origin_text}}</textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="select_tfidf" {{select_tfidf}}> TDIDF  alpha:                                    </span>
                                    <input type="text" class="form-control" name="tfidf_alpha" placeholder="填入确定言论结束的alpha" value="{{alpha or 0.1}}">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->                                
                            <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="select_word2vec" {{select_word2vec}}> Word2vc  alpha:
                                            </span>
                                        <input type="text" class="form-control" name="Word2vc_alpha" placeholder="填入确定言论结束的alpha" value="{{alpha or 0.1}}">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->                                    
                    </div>
                    <div class="row">
                        <p></p>
                        <div class="col-lg-12">
                        <p class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </p>
                        </div>
                    </form>
                </div>
                </div>

        </div>
       <div class="'row">
           <div class = "col-md-12">
                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>人物</th>
                              <th>动作</th>
                              <th>言论</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for sp in speech %}
                          <tr>
                                <td>{{sp[0] }}</td>
                                <td>{{ sp[1] }}</td>
                                <td>{{ sp[2] }}</td>
                          </tr>
                          {% endfor %}
                          </tbody>
                        <table>

       </div>
           </div>
    </body>
</html>

